@import './variables.scss';
@import './mixins.scss';

  .container {
    @include shadow;
    width: 70%;
    padding: 100px 50px;
    border-radius: 10px;
    background-color: $lightgrey;
    color: black;
    display: flex;

    &__left {
      text-align: center;
      &__photo {
        height: 300px;
        width: 300px;
        border-radius: 50%;
        padding: 20px;
      }
    }

    &__right {
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      border-left: 2px solid $blue;
      padding: 20px;
    }
  }

@media (max-width: 1000px) {
  .wrapper {
    margin-top: 20px;

    .container {
      padding: 30px 15px;
      flex-direction: column;

      &__left {
        &__photo {
          width: 180px;
          height: 180px;
        }
      }

      &__right {
        border: none;
        border-top: 2px solid $blue;
      }
    }
  }
}
