@import './variables.scss';
@import './mixins.scss';

ul {
  margin: 0;
  height: 70px;
  background-color: $grey;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;

  div {
    display: flex;

    li {
      list-style: none;
      margin-right: 50px;
      font-size: 1.8rem;

      a {
        @include link-style;
        color: white;
        transition: color 0.3s;
      }

      a:hover {
        color: $blue;
      }
    }
  }
}

.nav-logo {
  transition: opacity .3s ease-out;

  &--hide {
  opacity: 0;
  }
}

#logo {
  color: $blue;
  margin-right: 5px;
}

.hamburger,
.mobile-nav-links {
  display: none;
}

@media (max-width: 860px) {
  .hamburger {
    padding: 10px;
    display: inline-block;
    cursor: pointer;
    background-color: transparent;
    border: 0;
    margin: 0;
  }

  .hamburger,
  .mobile-nav-links {
    transition: transform 0.3s 0.1s ease-in-out;
  }

  .hamburger--active {
    transform: translatex(-250px);
  }

  .hamburger__box {
    width: 35px;
    height: 24px;
    display: inline-block;
    position: relative;
  }

  .hamburger__inner {
    @include hamburger-line;

    left: 0;
    top: 50%;
    transform: translateY(-50%);
    transition: background-color 0.1s 0.2s ease-in-out;
  }

  .hamburger__inner::before,
  .hamburger__inner::after {
    @include hamburger-line;

    content: '';
    left: 0;
    transition: transform 0.2s 0.2s ease-in-out;
  }

  .hamburger__inner::before {
    top: -10px;
  }

  .hamburger__inner::after {
    top: 10px;
  }

  .hamburger--active .hamburger__inner {
    background-color: transparent;
  }

  .hamburger--active .hamburger__inner:before {
    transform: translateY(10px) rotate(45deg);
  }

  .hamburger--active .hamburger__inner:after {
    transform: translateY(-10px) rotate(-45deg);
  }

  .nav-links {
    display: none;
  }

  .mobile-nav-links {
    display: block;
    position: absolute;
    z-index: 100;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    background-color: $grey;
    transform: translateX(250px);

    &--active {
      transform: translateX(0);
    }

    .mobile-nav-item {
      margin: 20px auto;
      text-align: center;
    }
  }
  .mobile-nav-item:first-child {
    margin-top: 80px;
  }
}
